# Misc
.DS_Store
*.log

# IntelliJ / Android Studio
.idea/
*.iml

# Dart / Flutter
.packages
.dart_tool/
.buildlog/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/local.properties
